@import "src/theme/base";

.home {
  min-height: 100vh;
  background-color: var(--color-primary);

  &__intro {
    &--headline {
      margin-bottom: $space-ml;
      color: var(--color-white);
    }

    &--image {
      display: flex;
      justify-content: center;

      img {
        width: 350px;
        height: auto;
      }
    }

    &--cta {
      margin-top: $space-ml;
    }

    &--text-block {
      margin-bottom: $space-ml;
    }
  }

  &__section {
    display: block;

    &--intro {
      padding: $navbar-height 0;
      background-color: var(--color-secondary);
    }

    &--cta-banner {
      min-height: 30vh;
      padding: $navbar-height 0;
      background-color: var(--color-primary);

      &--welcome {
        @include font-properties($typography-text);
        @include atTablet {
          @include font-properties($typography-headline-4);
          margin-bottom: 0;
          text-align: left;
        }
        margin-bottom: $space-m;
        text-align: right;
        color: var(--color-white);
      }

      &--cta {
        @include font-properties($typography-headline-3);
        display: block;
        text-align: right;
        color: var(--color-white);
      }
    }

    &--como-funciona {
      min-height: 30vh;
      background-color: var(--color-background);

      h2 {
        margin-bottom: $space-default;
        font-family: $font-family-display;
      }

      &--box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 30vh;
      }
    }
  }
}
