@import "../../../theme/base";

.home {
  display: block;

  &__section {
    min-height: 70vh;
  }

  &__auth-email-card {
    margin-top: $space-l;
  }

  &__intro {
    &--image {
      display: flex;
      justify-content: center;
      img {
        width: 350px;
        height: auto;
      }
    }
  }

  &__section {
    &--como-funciona {
      min-height: 30vh;
      background-color: var(--color-background);

      h2 {
        font-family: $font-family-display;
        margin-bottom: $space-default;
      }

      &--box {
        min-height: 30vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

    &--perfil-del-empresario {
    }
  }
}
