@import "src/theme/base";

.business-header {
  display: block;
  margin-top: $space-default;

  &__cover-image {
    display: block;
    height: 280px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__description {
    margin-bottom: $space-m;
  }

  &__info {
    padding: $space-default;
  }

  &__map {
    display: none;

    @include atLargeTablet {
      position: relative;
      display: block;
      width: 100%;
      height: 210px;
      background-color: var(--color-dark-3);
    }
  }

  &__link {
    &--website {
      display: block;
    }

    &--social {
      display: block;
    }
  }
}
