@import "../../../theme/base";

.auth-email-form {
  @include boxShadowInset;
  border-radius: $border-radius;
  padding: $space-default;
  padding-top: $space-ml;
  background-color: var(--color-background-contrast);

  &__input {
    input {
      margin-bottom: 0 !important;
      background-color: var(--color-background) !important;
    }
  }

  &__inline-wrapper {
    @include atLargeTablet {
      display: flex;

      &--form {
        display: flex;
        flex-basis: 70%;
        flex-direction: column;
        justify-content: center;
      }

      &--button {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        padding-left: $space-default;

        button {
          background-color: var(--color-background);
        }
      }
    }

    &--button {
      display: flex;
      justify-content: flex-end;
      margin-top: $space-default;
    }
  }
}
