@import "../../../theme/base";

.auth-email-form {
  background-color: var(--color-background-contrast);
  padding: $space-default;
  padding-top: $space-ml;

  &__input {
    input {
      background-color: var(--color-background) !important;
      margin-bottom: 0 !important;
    }
  }

  &__inline-wrapper {
    display: flex;

    &--form {
      flex-basis: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--button {
      padding-left: $space-default;
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        background-color: var(--color-background);
      }
    }
  }
}
