@import "src/theme/base";

.invest-now-widget {
  @include atLargeTablet {
    position: fixed;
    top: 0;
    z-index: $z-index-content;
    width: 100%;
    padding-top: $navbar-height;
  }
  margin-top: $space-default;

  &__risk-level {
    display: flex;
    justify-content: flex-end;
    padding-right: $space-default;

    p {
      margin: 0;
    }
  }

  &__fixed-col {
    @include atLargeTablet {
      height: 0;
    }
  }

  &__cta-button {
    display: block;
    margin-top: $space-m;

    &--icon {
      margin-left: $space-default;
    }

    &--error {
      margin-top: $space-default;
      color: var(--color-status-critical);
    }
  }

  &__cta-text {
    margin-top: $space-default;
    text-align: center;
  }

  &__warnings {
    @include boxShadowInset;
    border-radius: $border-radius;
    padding: $space-default;
    background-color: var(--color-background-contrast);

    &--text {
      margin-bottom: 0;
    }

    > div {
      margin-bottom: $space-s;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__goal {
    padding: $space-m 0;

    &--text,
    &--heading {
      margin-bottom: 0;
      line-height: 1;
    }

    &--text {
      margin-left: 25px;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: $space-s;
      border-left: 3px solid var(--color-primary);
      padding: $space-s;
      background-color: var(--color-background-contrast);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
