@import "src/theme/base";

.invest-now-widget {
  position: fixed;
  width: 100%;
  z-index: $z-index-navigation;
  margin-top: $space-default;

  &__risk-level {
    display: flex;
    justify-content: flex-end;
    padding-right: $space-default;

    p {
      margin: 0;
    }
  }

  &__fixed-col {
    height: 0;
  }

  &__cta-button {
    display: block;
    margin-top: $space-m;

    &--icon {
      margin-left: $space-default;
    }

    &--error {
      margin-top: $space-default;
      color: var(--color-status-critical);
    }
  }

  &__cta-text {
    margin-top: $space-default;
    text-align: center;
  }

  &__warnings {
    padding: $space-default;
    background-color: var(--color-background-contrast);
    border-radius: $border-radius;
    @include boxShadowInset;

    p {
      margin-bottom: 0;
    }

    > div {
      margin-bottom: $space-s;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__goal {
    padding: $space-m 0;
    h4,
    p {
      margin-bottom: 0;
    }

    p {
      line-height: 1;
    }

    > div {
      background-color: var(--color-background-contrast);
      margin-bottom: $space-s;
      border-left: 2px solid var(--color-status-info);
      padding: $space-s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
