@import "src/theme/base";

.account-widget {
  &__menu-toggle {
    padding: $space-default;
    background-color: var(--color-background);
    border: 2px solid var(--color-secondary);
    border-radius: $border-radius-circle;
    padding: $space-default;
  }

  &__menu {
    right: 0;
    top: 100%;
    width: 250%;
    border-top: $border-light;
    box-shadow: $box-shadow-focus-large;
  }

  &__icon {
    width: 35%;
  }

  &__label {
    width: 65%;
  }
}
