@import "src/theme/base";

.funding-progress-bar {
  background-color: var(--color-secondary);
  border-radius: $border-radius;
  position: relative;

  &__card {
    padding: $space-default;
    margin-top: $space-default;
  }

  &__funded-amount {
    position: absolute;
    margin: 0;
    color: var(--color-white);
    font-weight: $font-weight-bold;
    padding-left: $space-default;
    top: 1px;
  }

  &__funded-bar {
    background-color: var(--color-primary);
    height: 28px;
    padding: 0 $space-xs;
  }

  &__digits {
    display: flex;
    text-align: right;
    justify-content: space-between;

    &--max {
    }

    &--min {
    }
  }
}
