@import "src/theme/base";

.funding-progress-bar {
  position: relative;
  border-radius: $border-radius;
  background-color: var(--color-secondary);

  &__card {
    margin-top: $space-default;
    padding: $space-default;
  }

  &__funded-amount {
    position: absolute;
    top: 1px;
    margin: 0;
    padding-left: $space-default;
    font-weight: $font-weight-bold;
    color: var(--color-white);
  }

  &__funded-bar {
    height: 28px;
    padding: 0 $space-xs;
    background-color: var(--color-primary);
  }

  &__digits {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }
}
