@import "../../../../theme/base";

.list-property {
  position: relative;

  &__main-panel {
    &--container {
      @include withNavbar;
    }
  }

  &__editor {
    padding: $space-m 0;
  }

  &__attachments {
    margin-top: $space-xl;
  }

  &__special-attributes {
    &--card {
      margin-top: $space-default;
    }
  }
}
