@import "../../theme/base";

.main-panel {
  background-color: var(--color-background-contrast);
  position: relative;
  overflow-y: auto;
  height: 100vh;
  width: 100%;

  &__container {
    padding: 0 $main-panel-container-space-x;
  }
}
