:root {
  --btcpay-border-radius: 4px;
  --btcpay-transition-duration-fast: 0.2s;
  --btcpay-transition-duration-default: 0.3s;
  --btcpay-transition-duration-slow: 0.5s;
  --btcpay-text: #fff;
  --btcpay-background: whitesmoke;
  --btcpay-brand-primary: #040c24;
  --btcpay-brand-secondary: #7fbc94;
  --btcpay-brand-tertiary: #4f8c69;
  --btcpay-brand-dark: #040c24;
  --btcpay-white: #ffffff;
  --btcpay-white-rgb: 255, 255, 255;
  --btcpay-black: #040c24;
  --btcpay-black-rgb: 0, 0, 0;
  --btcpay-neutral-light-100: #d0d0da;
  --btcpay-neutral-light-200: #a9a9b7;
  --btcpay-neutral-light-300: #8a8a98;
  --btcpay-neutral-light-400: #70707c;
  --btcpay-neutral-light-500: #5b5b65;
  --btcpay-neutral-light-600: #40404a;
  --btcpay-neutral-light-700: #2c2c35;
  --btcpay-neutral-light-800: #1e1e24;
  --btcpay-neutral-light-900: #0f0f13;
  --btcpay-neutral-light-rgb: 143, 151, 158;
  --btcpay-neutral-dark-100: #d0d0da;
  --btcpay-neutral-dark-200: #a9a9b7;
  --btcpay-neutral-dark-300: #8a8a98;
  --btcpay-neutral-dark-400: #70707c;
  --btcpay-neutral-dark-500: #5b5b65;
  --btcpay-neutral-dark-600: #40404a;
  --btcpay-neutral-dark-700: #2c2c35;
  --btcpay-neutral-dark-800: #1e1e24;
  --btcpay-neutral-dark-900: #0f0f13;
  --btcpay-neutral-dark-rgb: 110, 118, 129;
  --btcpay-primary-100: whitesmoke;
  --btcpay-primary-200: #040c245d;
  --btcpay-primary-300: #040c247e;
  --btcpay-primary-400: #040c2496;
  --btcpay-primary-500: #040c24b0;
  --btcpay-primary-600: #040c24bd;
  --btcpay-primary-700: #040c24da;
  --btcpay-primary-800: #040c24ef;
  --btcpay-primary-900: #040c24;
  --btcpay-primary-rgb: 68, 164, 49;
  --btcpay-green-100: #4f8c6931;
  --btcpay-green-200: #4f8c6946;
  --btcpay-green-300: #4f8c6959;
  --btcpay-green-400: #4f8c695d;
  --btcpay-green-500: #4f8c697a;
  --btcpay-green-600: #4f8c69b2;
  --btcpay-green-700: #4f8c69d3;
  --btcpay-green-800: #4f8c69e3;
  --btcpay-green-900: #4f8c69;
  --btcpay-green-rgb: 81, 177, 62;
  --btcpay-blue-100: #b5e1e8;
  --btcpay-blue-200: #9dd7e1;
  --btcpay-blue-300: #7ccad7;
  --btcpay-blue-400: #51b9c9;
  --btcpay-blue-500: #17a2b8;
  --btcpay-blue-600: #03899e;
  --btcpay-blue-700: #007d91;
  --btcpay-blue-800: #007284;
  --btcpay-blue-900: #006778;
  --btcpay-blue-rgb: 23, 162, 184;
  --btcpay-yellow-100: #fffaf0;
  --btcpay-yellow-200: #fff2d9;
  --btcpay-yellow-300: #ffe3ac;
  --btcpay-yellow-400: #ffcf70;
  --btcpay-yellow-500: #ffc043;
  --btcpay-yellow-600: #bc8b2c;
  --btcpay-yellow-700: #997328;
  --btcpay-yellow-800: #674d1b;
  --btcpay-yellow-900: #543d10;
  --btcpay-yellow-rgb: 255, 192, 67;
  --btcpay-red-100: #ffefed;
  --btcpay-red-200: #fed7d2;
  --btcpay-red-300: #f1998e;
  --btcpay-red-400: #e85c4a;
  --btcpay-red-500: #e11900;
  --btcpay-red-600: #ab1300;
  --btcpay-red-700: #870f00;
  --btcpay-red-800: #5a0a00;
  --btcpay-red-900: #420105;
  --btcpay-red-rgb: 225, 25, 0;
  --btcpay-purple-100: #f4f1fa;
  --btcpay-purple-200: #e3ddf2;
  --btcpay-purple-300: #c1b5e3;
  --btcpay-purple-400: #957fce;
  --btcpay-purple-500: #7356bf;
  --btcpay-purple-600: #574191;
  --btcpay-purple-700: #453473;
  --btcpay-purple-800: #2e224c;
  --btcpay-purple-900: #1a1033;
  --btcpay-purple-rgb: 115, 86, 191;
  --btcpay-orange-100: #fff3ef;
  --btcpay-orange-200: #ffe1d6;
  --btcpay-orange-300: #fabda5;
  --btcpay-orange-400: #fa9269;
  --btcpay-orange-500: #ff6937;
  --btcpay-orange-600: #c14f29;
  --btcpay-orange-700: #9a3f21;
  --btcpay-orange-800: #672a16;
  --btcpay-orange-900: #3d1300;
  --btcpay-orange-rgb: 255, 105, 55;
  --btcpay-brown-100: #f6f0ea;
  --btcpay-brown-200: #ebe0db;
  --btcpay-brown-300: #d2bbb0;
  --btcpay-brown-400: #b18977;
  --btcpay-brown-500: #99644c;
  --btcpay-brown-600: #744c3a;
  --btcpay-brown-700: #5c3c2e;
  --btcpay-brown-800: #3d281e;
  --btcpay-brown-900: #241914;
  --btcpay-brown-rgb: 153, 100, 76;
  --btcpay-pink-100: #ffedf9;
  --btcpay-pink-200: #ffcee5;
  --btcpay-pink-300: #ffacd6;
  --btcpay-pink-400: #fe82c2;
  --btcpay-pink-500: #f162af;
  --btcpay-pink-600: #bb4183;
  --btcpay-pink-700: #7d2457;
  --btcpay-pink-800: #5e103e;
  --btcpay-pink-900: #4a042e;
  --btcpay-pink-rgb: 241, 98, 175;
  --btcpay-space-xs: 4px;
  --btcpay-space-s: 8px;
  --btcpay-space-m: 16px;
  --btcpay-space-l: 32px;
  --btcpay-space-xl: 64px;
  --btcpay-space-xxl: 80px;
  --btcpay-font-family-base: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  --btcpay-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --btcpay-font-size-xs: 10px;
  --btcpay-font-size-s: 12px;
  --btcpay-font-size-m: 14px;
  --btcpay-font-size-l: 18px;
  --btcpay-font-size-xl: 36px;
  --btcpay-font-size-xxl: 45px;
  --btcpay-font-weight-normal: 400;
  --btcpay-font-weight-semibold: 600;
  --btcpay-font-weight-bold: 700;
  --btcpay-neutral-100: var(--btcpay-neutral-light-100);
  --btcpay-neutral-200: var(--btcpay-neutral-light-200);
  --btcpay-neutral-300: var(--btcpay-neutral-light-300);
  --btcpay-neutral-400: var(--btcpay-neutral-light-400);
  --btcpay-neutral-500: var(--btcpay-neutral-light-500);
  --btcpay-neutral-600: var(--btcpay-neutral-light-600);
  --btcpay-neutral-700: var(--btcpay-neutral-light-700);
  --btcpay-neutral-800: var(--btcpay-neutral-light-800);
  --btcpay-neutral-900: var(--btcpay-neutral-light-900);
  --btcpay-font-size-base: var(--btcpay-font-size-m);
  --btcpay-bg-tile: var(--btcpay-white);
  --btcpay-bg-dark: var(--btcpay-brand-dark);
  --btcpay-body-bg: var(--btcpay-neutral-100);
  --btcpay-body-bg-light: var(--btcpay-white);
  --btcpay-body-bg-medium: var(--btcpay-neutral-200);
  --btcpay-body-bg-striped: var(--btcpay-neutral-200);
  --btcpay-body-bg-hover: var(--btcpay-white);
  --btcpay-body-bg-active: var(--btcpay-primary);
  --btcpay-body-bg-rgb: 248, 249, 250;
  --btcpay-body-border-light: var(--btcpay-neutral-200);
  --btcpay-body-border-medium: var(--btcpay-neutral-300);
  --btcpay-body-text: var(--btcpay-neutral-900);
  --btcpay-body-text-striped: var(--btcpay-body-text);
  --btcpay-body-text-hover: var(--btcpay-body-text);
  --btcpay-body-text-active: var(--btcpay-white);
  --btcpay-body-text-muted: var(--btcpay-neutral-500);
  --btcpay-body-text-rgb: 41, 41, 41;
  --btcpay-body-link: var(--btcpay-primary);
  --btcpay-body-link-accent: var(--btcpay-primary);
  --btcpay-body-shadow: rgba(25, 135, 84, 0.33);
  --btcpay-wizard-bg: var(--btcpay-body-bg);
  --btcpay-wizard-text: var(--btcpay-body-text);
  --btcpay-header-bg: var(--btcpay-white);
  --btcpay-header-text: var(--btcpay-body-text);
  --btcpay-header-link: var(--btcpay-header-text);
  --btcpay-header-link-accent: var(--btcpay-primary);
  --btcpay-header-link-active: var(--btcpay-primary-accent);
  --btcpay-nav-link: var(--btcpay-neutral-600);
  --btcpay-nav-link-accent: var(--btcpay-neutral-700);
  --btcpay-nav-link-active: var(--btcpay-neutral-900);
  --btcpay-nav-bg: transparent;
  --btcpay-nav-bg-hover: transparent;
  --btcpay-nav-bg-active: transparent;
  --btcpay-nav-border: transparent;
  --btcpay-nav-border-hover: transparent;
  --btcpay-nav-border-active: var(--btcpay-primary);
  --btcpay-form-bg: var(--btcpay-white);
  --btcpay-form-bg-hover: var(--btcpay-form-bg);
  --btcpay-form-bg-addon: var(--btcpay-neutral-300);
  --btcpay-form-bg-disabled: var(--btcpay-neutral-200);
  --btcpay-form-text: var(--btcpay-neutral-900);
  --btcpay-form-text-label: var(--btcpay-neutral-700);
  --btcpay-form-text-addon: var(--btcpay-neutral-700);
  --btcpay-form-border: var(--btcpay-neutral-300);
  --btcpay-form-border-focus: var(--btcpay-form-border);
  --btcpay-form-border-active: var(--btcpay-form-border);
  --btcpay-form-border-disabled: var(--btcpay-form-border);
  --btcpay-form-shadow-focus: var(--btcpay-primary-shadow);
  --btcpay-form-shadow-valid: var(--btcpay-success-shadow);
  --btcpay-form-shadow-invalid: var(--btcpay-danger-shadow);
  --btcpay-footer-bg: var(--btcpay-brand-dark);
  --btcpay-footer-text: var(--btcpay-neutral-400);
  --btcpay-footer-link: var(--btcpay-neutral-400);
  --btcpay-footer-link-accent: var(--btcpay-neutral-100);
  --btcpay-code-text: var(--btcpay-body-text);
  --btcpay-code-bg: transparent;
  --btcpay-pre-text: var(--btcpay-white);
  --btcpay-pre-bg: var(--btcpay-neutral-900);
  --btcpay-primary: var(--btcpay-brand-primary);
  --btcpay-primary-accent: var(--btcpay-brand-tertiary);
  --btcpay-primary-text: var(--btcpay-white);
  --btcpay-primary-text-hover: var(--btcpay-white);
  --btcpay-primary-text-active: var(--btcpay-white);
  --btcpay-primary-bg-hover: var(--btcpay-primary-accent);
  --btcpay-primary-bg-active: var(--btcpay-primary-accent);
  --btcpay-primary-border: var(--btcpay-primary);
  --btcpay-primary-border-hover: var(--btcpay-primary-bg-hover);
  --btcpay-primary-border-active: var(--btcpay-primary-bg-active);
  --btcpay-primary-dim-bg: var(--btcpay-primary-500);
  --btcpay-primary-dim-bg-striped: var(--btcpay-primary-400);
  --btcpay-primary-dim-bg-hover: var(--btcpay-primary-600);
  --btcpay-primary-dim-bg-active: var(--btcpay-primary-700);
  --btcpay-primary-dim-border: var(--btcpay-primary-dim-bg);
  --btcpay-primary-dim-border-active: var(--btcpay-primary-dim-bg-active);
  --btcpay-primary-dim-text: var(--btcpay-white);
  --btcpay-primary-dim-text-striped: var(--btcpay-primary-dim-text);
  --btcpay-primary-dim-text-hover: var(--btcpay-primary-dim-text);
  --btcpay-primary-dim-text-active: var(--btcpay-primary-900);
  --btcpay-primary-shadow: rgba(25, 135, 84, 0.33);
  --btcpay-primary-rgb: 81, 177, 62;
  --btcpay-secondary: var(--btcpay-white);
  --btcpay-secondary-accent: var(--btcpay-secondary);
  --btcpay-secondary-text: var(--btcpay-primary);
  --btcpay-secondary-text-hover: var(--btcpay-brand-dark);
  --btcpay-secondary-text-active: var(--btcpay-brand-dark);
  --btcpay-secondary-bg-hover: var(--btcpay-secondary-accent);
  --btcpay-secondary-bg-active: var(--btcpay-secondary-accent);
  --btcpay-secondary-border: var(--btcpay-neutral-300);
  --btcpay-secondary-border-hover: var(--btcpay-neutral-400);
  --btcpay-secondary-border-active: var(--btcpay-neutral-500);
  --btcpay-secondary-dim-bg: var(--btcpay-neutral-200);
  --btcpay-secondary-dim-bg-striped: var(--btcpay-neutral-300);
  --btcpay-secondary-dim-bg-hover: var(--btcpay-neutral-300);
  --btcpay-secondary-dim-bg-active: var(--btcpay-neutral-400);
  --btcpay-secondary-dim-border: var(--btcpay-secondary-dim-bg);
  --btcpay-secondary-dim-border-active: var(--btcpay-secondary-dim-bg-active);
  --btcpay-secondary-dim-text: var(--btcpay-neutral-800);
  --btcpay-secondary-dim-text-striped: var(--btcpay-secondary-dim-text);
  --btcpay-secondary-dim-text-hover: var(--btcpay-secondary-dim-text);
  --btcpay-secondary-dim-text-active: var(--btcpay-neutral-900);
  --btcpay-secondary-shadow: rgba(130, 138, 145, 0.33);
  --btcpay-secondary-rgb: 255, 255, 255;
  --btcpay-success: var(--btcpay-green-500);
  --btcpay-success-accent: var(--btcpay-green-700);
  --btcpay-success-text: var(--btcpay-white);
  --btcpay-success-text-hover: var(--btcpay-white);
  --btcpay-success-text-active: var(--btcpay-white);
  --btcpay-success-bg-hover: var(--btcpay-success-accent);
  --btcpay-success-bg-active: var(--btcpay-success-accent);
  --btcpay-success-border: var(--btcpay-success);
  --btcpay-success-border-hover: var(--btcpay-success-bg-hover);
  --btcpay-success-border-active: var(--btcpay-success-bg-active);
  --btcpay-success-dim-bg: var(--btcpay-green-100);
  --btcpay-success-dim-bg-striped: var(--btcpay-green-200);
  --btcpay-success-dim-bg-hover: var(--btcpay-green-200);
  --btcpay-success-dim-bg-active: var(--btcpay-green-300);
  --btcpay-success-dim-border: var(--btcpay-success-dim-bg);
  --btcpay-success-dim-border-active: var(--btcpay-success-dim-bg-active);
  --btcpay-success-dim-text: var(--btcpay-green-800);
  --btcpay-success-dim-text-striped: var(--btcpay-success-dim-text);
  --btcpay-success-dim-text-hover: var(--btcpay-success-dim-text);
  --btcpay-success-dim-text-active: var(--btcpay-green-900);
  --btcpay-success-shadow: rgba(60, 153, 110, 0.33);
  --btcpay-success-rgb: var(--btcpay-green-rgb);
  --btcpay-info: var(--btcpay-blue-500);
  --btcpay-info-accent: var(--btcpay-blue-700);
  --btcpay-info-text: var(--btcpay-white);
  --btcpay-info-text-hover: var(--btcpay-white);
  --btcpay-info-text-active: var(--btcpay-white);
  --btcpay-info-bg-hover: var(--btcpay-info-accent);
  --btcpay-info-bg-active: var(--btcpay-info-accent);
  --btcpay-info-border: var(--btcpay-info);
  --btcpay-info-border-hover: var(--btcpay-info-bg-hover);
  --btcpay-info-border-active: var(--btcpay-info-bg-active);
  --btcpay-info-dim-bg: var(--btcpay-blue-100);
  --btcpay-info-dim-bg-striped: var(--btcpay-blue-200);
  --btcpay-info-dim-bg-hover: var(--btcpay-blue-200);
  --btcpay-info-dim-bg-active: var(--btcpay-blue-300);
  --btcpay-info-dim-border: var(--btcpay-info-dim-bg);
  --btcpay-info-dim-border-active: var(--btcpay-info-dim-bg-active);
  --btcpay-info-dim-text: var(--btcpay-blue-800);
  --btcpay-info-dim-text-striped: var(--btcpay-info-dim-text);
  --btcpay-info-dim-text-hover: var(--btcpay-info-dim-text);
  --btcpay-info-dim-text-active: var(--btcpay-blue-900);
  --btcpay-info-shadow: rgba(11, 172, 204, 0.33);
  --btcpay-info-rgb: var(--btcpay-blue-rgb);
  --btcpay-warning: var(--btcpay-yellow-500);
  --btcpay-warning-accent: var(--btcpay-yellow-700);
  --btcpay-warning-text: var(--btcpay-neutral-900);
  --btcpay-warning-text-hover: var(--btcpay-neutral-900);
  --btcpay-warning-text-active: var(--btcpay-neutral-900);
  --btcpay-warning-bg-hover: var(--btcpay-warning-accent);
  --btcpay-warning-bg-active: var(--btcpay-warning-accent);
  --btcpay-warning-border: var(--btcpay-warning);
  --btcpay-warning-border-hover: var(--btcpay-warning-bg-hover);
  --btcpay-warning-border-active: var(--btcpay-warning-bg-active);
  --btcpay-warning-dim-bg: var(--btcpay-yellow-100);
  --btcpay-warning-dim-bg-striped: var(--btcpay-yellow-200);
  --btcpay-warning-dim-bg-hover: var(--btcpay-yellow-200);
  --btcpay-warning-dim-bg-active: var(--btcpay-yellow-300);
  --btcpay-warning-dim-border: var(--btcpay-warning-dim-bg);
  --btcpay-warning-dim-border-active: var(--btcpay-warning-dim-bg-active);
  --btcpay-warning-dim-text: var(--btcpay-neutral-800);
  --btcpay-warning-dim-text-striped: var(--btcpay-warning-dim-text);
  --btcpay-warning-dim-text-hover: var(--btcpay-warning-dim-text);
  --btcpay-warning-dim-text-active: var(--btcpay-yellow-900);
  --btcpay-warning-shadow: rgba(217, 164, 6, 0.33);
  --btcpay-warning-rgb: var(--btcpay-yellow-rgb);
  --btcpay-danger: var(--btcpay-red-500);
  --btcpay-danger-accent: var(--btcpay-red-700);
  --btcpay-danger-text: var(--btcpay-white);
  --btcpay-danger-text-hover: var(--btcpay-white);
  --btcpay-danger-text-active: var(--btcpay-white);
  --btcpay-danger-bg-hover: var(--btcpay-danger-accent);
  --btcpay-danger-bg-active: var(--btcpay-danger-accent);
  --btcpay-danger-border: var(--btcpay-danger);
  --btcpay-danger-border-hover: var(--btcpay-danger-bg-hover);
  --btcpay-danger-border-active: var(--btcpay-danger-bg-active);
  --btcpay-danger-dim-bg: var(--btcpay-red-100);
  --btcpay-danger-dim-bg-striped: var(--btcpay-red-200);
  --btcpay-danger-dim-bg-hover: var(--btcpay-red-200);
  --btcpay-danger-dim-bg-active: var(--btcpay-red-300);
  --btcpay-danger-dim-border: var(--btcpay-danger-dim-bg);
  --btcpay-danger-dim-border-active: var(--btcpay-danger-dim-bg-active);
  --btcpay-danger-dim-text: var(--btcpay-red-800);
  --btcpay-danger-dim-text-striped: var(--btcpay-danger-dim-text);
  --btcpay-danger-dim-text-hover: var(--btcpay-danger-dim-text);
  --btcpay-danger-dim-text-active: var(--btcpay-red-900);
  --btcpay-danger-shadow: rgba(225, 83, 97, 0.33);
  --btcpay-danger-rgb: var(--btcpay-red-rgb);
  --btcpay-light: var(--btcpay-neutral-200);
  --btcpay-light-accent: var(--btcpay-neutral-400);
  --btcpay-light-text: var(--btcpay-neutral-800);
  --btcpay-light-text-hover: var(--btcpay-neutral-800);
  --btcpay-light-text-active: var(--btcpay-neutral-800);
  --btcpay-light-bg-hover: var(--btcpay-light-accent);
  --btcpay-light-bg-active: var(--btcpay-light-accent);
  --btcpay-light-border: var(--btcpay-light);
  --btcpay-light-border-hover: var(--btcpay-light-bg-hover);
  --btcpay-light-border-active: var(--btcpay-light-bg-active);
  --btcpay-light-dim-bg: var(--btcpay-white);
  --btcpay-light-dim-bg-striped: var(--btcpay-neutral-200);
  --btcpay-light-dim-bg-hover: var(--btcpay-neutral-200);
  --btcpay-light-dim-bg-active: var(--btcpay-neutral-300);
  --btcpay-light-dim-border: var(--btcpay-light-dim-bg);
  --btcpay-light-dim-border-active: var(--btcpay-light-dim-bg-active);
  --btcpay-light-dim-text: var(--btcpay-neutral-800);
  --btcpay-light-dim-text-striped: var(--btcpay-light-dim-text);
  --btcpay-light-dim-text-hover: var(--btcpay-light-dim-text);
  --btcpay-light-dim-text-active: var(--btcpay-neutral-900);
  --btcpay-light-shadow: rgba(211, 212, 213, 0.33);
  --btcpay-light-rgb: 233, 236, 239;
  --btcpay-dark: var(--btcpay-neutral-800);
  --btcpay-dark-accent: var(--btcpay-black);
  --btcpay-dark-text: var(--btcpay-neutral-200);
  --btcpay-dark-text-hover: var(--btcpay-neutral-200);
  --btcpay-dark-text-active: var(--btcpay-neutral-200);
  --btcpay-dark-bg-hover: var(--btcpay-dark-accent);
  --btcpay-dark-bg-active: var(--btcpay-dark-accent);
  --btcpay-dark-border: var(--btcpay-dark);
  --btcpay-dark-border-hover: var(--btcpay-dark-bg-hover);
  --btcpay-dark-border-active: var(--btcpay-dark-bg-active);
  --btcpay-dark-dim-bg: var(--btcpay-neutral-900);
  --btcpay-dark-dim-bg-striped: var(--btcpay-neutral-900);
  --btcpay-dark-dim-bg-hover: var(--btcpay-neutral-800);
  --btcpay-dark-dim-bg-active: var(--btcpay-neutral-700);
  --btcpay-dark-dim-border: var(--btcpay-dark-dim-bg);
  --btcpay-dark-dim-border-active: var(--btcpay-dark-dim-bg-active);
  --btcpay-dark-dim-text: var(--btcpay-neutral-200);
  --btcpay-dark-dim-text-striped: var(--btcpay-dark-dim-text);
  --btcpay-dark-dim-text-hover: var(--btcpay-dark-dim-text);
  --btcpay-dark-dim-text-active: var(--btcpay-neutral-100);
  --btcpay-dark-shadow: rgba(66, 70, 73, 0.33);
  --btcpay-dark-rgb: 33, 38, 45;
}

header.masthead::before,
.service-box img {
  filter: hue-rotate(318deg);
}

/*  ===========================CREDITS=========================== */
/*  Custom BTCpay Server CSS template made by @artdesignbySF.   */
/*  PLEASE CONSIDER DONATING BITCOIN IF YOU FIND          */
/*  THIS FILE USEFULL: 3LBQbv72rdSrLmFF66p9gMPDuPMcKL7UL1     */
/*  Follow @artdesignbySF on Twitter                */
/*  Contact via: artdesignbySF@protonmail.com           */
/*  =========================END CREDITS========================= */

/*  =========================DISCLAIMER========================== */
/*  Might not be the most efficient or correct way of implementing  */
/*  CSS. I am not responsable for breaking your website if things */
/*  go wrong. PEACE / LOVE / BITCOIN                */
/*  =======================END DISCLAIMER======================== */

/*======BACKGROUND COLOR======*/

html {
  background-color: var(--btcpay-background) !important; /*===BACKGROUND COLOR===*/
}

.modal.page {
  background-color: var(--btcpay-background); /*===BACKGROUND COLOR===*/
}
/*=============================*/

/*=======OUTLINE SETTINGS=======*/

.modal-content {
  border-radius: 3px; /*===ROUNDED CORNERS===*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  outline: 1px solid var(--btcpay-background); /*===OUTLINE===*/
}
/*=============================*/

/*=======HEADER SETTINGS=======*/

.top-header {
  border-radius: 3px; /*===ROUNDED CORNER SETTINGS===*/
  color: var(--btcpay-brand-secondary);
  background-color: var(--btcpay-background);
}

.top-header .timer-row__progress-bar {
  background-color: var(--btcpay-brand-primary);
}

.top-header .timer-row {
  background: var(--btcpay-brand-secondary);
}

.top-header .timer-row.expiring-soon {
  background: var(--btcpay-brand-secondary);
}

.header__icon__img {
  display: block;
  width: 125px;
  height: auto;
}
/*============================*/

/*=====PAY WITH / AMOUNTS=====*/

.line-items {
  padding-top: 15px;
  padding-bottom: 10px;
  color: var(--btcpay-text) !important; /*===TEXT COLOR===*/
  background-color: var(--btcpay-brand-primary); /*===BACKGROUND COLOR===*/
}

.buyerTotalLine {
  border-top: 1px solid var(--btcpay-text);
  padding-top: 15px;
  padding-bottom: 12px;
  color: var(--btcpay-brand-primary);
  background-color: var(--btcpay-primary-100);
}

.buyerTotalLine span {
  color: var(--btcpay-brand-primary);
}
/*==========================*/

/*=======PAYMENT TABS=======*/

.payment-tabs {
  color: var(--color-brand-primary);
  background-color: var(--btcpay-white); /*===BACKGROUND COLOR===*/
}

.payment-tabs span {
  color: var(--color-brand-primary);
}

.payment-tabs__tab.active {
  border-bottom: var(--btcpay-brand-secondary) 3px solid;
  background: whitesmoke;
}
/*===========================*/

/*===OPEN IN WALLET BUTTON===*/

.action-button {
  border: none !important; /*===BUTTON BORDER COLOR===*/
  border-radius: 3px; /*===ROUNDED CORNER SETTINGS===*/
  color: var(--btcpay-text) !important;
  background-color: var(--btcpay-brand-primary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.action-button:hover {
  background-image: linear-gradient(
    to bottom,
    var(--btcpay-primary-500),
    var(--btcpay-brand-primary)
  ); /*===HOVER BUTTON BACKGROUND COLOR GRADIENT===*/
}
/*============================*/

/*===BOLT/NODE INFO BUTTONS===*/

.btnGroupLnd {
  border-color: #000000; /*===BUTTON BORDER COLOR===*/
  border-radius: 0px; /*===ROUNDED CORNER SETTINGS===*/
  background-color: #000000; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  background-image: linear-gradient(to top, #7a7a7a, #7a7a7a); /*===BUTTON BACKGROUND COLOR GRADIENT===*/
  box-shadow: 0px 0px 0px 0px #000000; /*===DROP SHADOW SETTINGS===*/
}

.btnGroupLnd button {
  border-color: #000000; /*===BUTTON BORDER COLOR===*/
  border-radius: 0px; /*===ROUNDED CORNER SETTINGS===*/
  background-color: #000000; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  background-image: linear-gradient(to top, #3f3f3f, #7a7a7a); /*===BUTTON BACKGROUND COLOR GRADIENT===*/
}

.btnGroupLnd button.active {
  border-color: #000000; /*===BUTTON BORDER COLOR===*/
  border-radius: 0px; /*===ROUNDED CORNER SETTINGS===*/
  background-color: #000000; /*===BUTTON BACKGROUND COLOR (IF NO GRADIENT IS WANTED DELETE LINE ABOVE THIS)===*/
  background-image: linear-gradient(to bottom, #3f3f3f, #7a7a7a); /*===ACTIVE BUTTON BACKGROUND COLOR GRADIENT===*/
}
/*===========================*/

/*=====CURRENCY DROPDOWN=====*/

.payment__currencies {
  border-radius: 3px; /*===ROUNDED CORNER SETTINGS===*/
}

.currency-selection {
  height: auto;
  border-bottom: 0px solid var(--btcpay-text);
  padding-top: 15px;
  padding-bottom: 10px;
  color: var(--btcpay-brand-primary);
  background-color: var(--btcpay-white); /*===BACKGROUND COLOR===*/
}

.vex.vex-theme-btcpay .vex-content {
  border-radius: 0px; /*===ROUNDED CORNER SETTINGS===*/
  padding: 1px;
  box-shadow: 0px 0px 0px 0px #000000; /*===DROP SHADOW SETTINGS===*/
}

.vexmenu {
  background-color: var(--btcpay-brand-primary); /*===BACKGROUND COLOR===*/
}

.vexmenuitem:hover {
  background: #7a7a7a; /*===MENU BACKGROUND COLOR===*/
}

.vexmenuitem > a span {
  color: var(--btcpay-text);
}

.payment__currencies {
  border-color: var(--btcpay-brand-primary);
  background: var(--btcpay-background);
}

.payment__currencies span {
  color: var(--btcpay-brand-primary);
}

.payment__currencies:hover {
  border-color: var(--btcpay-brand-primary);
  background: var(--btcpay-brand-primary);
}

.payment__currencies:hover span {
  color: var(--btcpay-text);
}
/*===========================*/

/*===QR AND QR BACKGROUND===*/

.invoice {
  border-radius: 0px; /*===ROUNDED CORNER SETTINGS===*/
  background-color: var(--btcpay-white); /*===MENU BACKGROUND COLOR===*/
}

.payment-box {
  height: 425px; /*===SIZE IMPORTANT BECAUSE HEIGHT LIGHTNING QR CODE + OUTLINE===*/
}

.payment__scan {
  width: 276px;
  height: 276px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  border: 10px solid #f5f5f7; /*===QR CODE BORDER SIZE/COLOR (LEAVE AS IS FOR QUICK SCANNING)===*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.recommended-fee {
  height: 25px;
  margin-top: 10px;
  padding: 5px 0;
  color: var(--btcpay-brand-primary);
  background: var(--btcpay-brand-secondary);
}

.expired__body {
  color: #000000;
}
/*==========================*/

/*======COLOR OF LINKS======*/

a {
  color: var(--btcpay-text) !important; /*===LINK COLOR===*/
}
/*==========================*/

/*==="COLOR OF SOME TEXTS===*/

span {
  color: var(--btcpay-text); /*===TEXT COLOR===*/
}
/*=========================*/

/*=====LANGUAGE SELECT=====*/

#prettydropdown-DefaultLang ul {
  border-color: var(--btcpay-brand-primary);
  border-radius: 3px;
  color: var(--btcpay-brand-primary) !important; /* ===TEXT COLOR=== */
  background-color: var(--btcpay-white) !important; /*===BACKGROUND COLOR===*/
}

#prettydropdown-DefaultLang ul li:hover {
  color: var(--btcpay-white) !important; /*===BACKGROUND COLOR===*/
  background-color: var(--btcpay-brand-secondary) !important; /*===BACKGROUND COLOR===*/
}

.checked: {
  color: #000000;
}
/*===========================*/

/*====INSTRUCTIONAL TEXTS====*/

.manual__step-one__header {
  color: var(--btcpay-text); /*===TEXT COLOR===*/
  opacity: 1;
}

.content-faded,
.manual__step-one__instructions,
.manual__step-two__instructions {
  color: var(--btcpay-text); /*===TEXT COLOR===*/
  opacity: 1;
}
/*===========================*/

/*====COPY INFO BOX/TEXTS====*/

.copyBox {
  border-color: var(--btcpay-brand-primary);
  background-color: var(--btcpay-brand-primary);
}

.copyAmountText {
  color: var(--btcpay-text); /*===TEXT COLOR===*/
}

.copySectionBox label {
  color: var(--btcpay-text); /*===TEXT COLOR===*/
  opacity: 1;
}

.separatorGem {
  background: var(--btcpay-brand-secondary); /*===GEM ICON COLOR===*/
}
/*===========================*/

/*====PAYMENT SUCCES PAGE====*/
/*
.success-block {
  background-image: linear-gradient(to top, var(--btcpay-brand-primary), #f5f5f7); /*===GRADIENT BACKGROUND===*/ /*
  height:275px;
}
*/

.success-message {
  color: var(--btcpay-text); /*  ===TEXT COLOR=== */
}
