@import "../../theme/base";

.wallet-selector {
  position: relative;
  display: flex;
  align-items: center;
  height: $navbar-height;

  &__widget {
    position: absolute;
    top: $navbar-height;
    right: 0;
    z-index: $z-index-navigation;
    width: 420px;
    border: 2px solid var(--color-button-secondary);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: var(--color-background);

    &--backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $z-index-navigation - 1;
      background-color: transparent;
    }
  }

  &__chain-network-dropdowns {
    position: relative;
    display: flex;

    button {
      border-top: 0;

      &:hover {
        cursor: default;
      }

      &:nth-child(1) {
        border-right-width: 1px;
        border-left: 0;
      }

      &:nth-child(2) {
        border-right: 0;
        border-left-width: 1px;
      }
    }

    &--chains-list,
    &--networks-list {
      position: absolute;
      top: 44px;
      right: 0;
      left: 0;
      z-index: $z-index-navigation;
      width: 100%;
      height: #{82 + 62}px;
      padding: $space-s;
      overflow-y: auto;
      background-color: var(--color-background-contrast);
    }

    &--chains-list-card,
    &--networks-list-card {
      margin-bottom: $space-s;
    }
  }

  &__balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space-m;
    background-color: var(--color-background-contrast);
  }

  &__connect {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: $space-m;
  }

  &__button {
    border-radius: 0;
  }
}
