@import "variables";

html {
  @media (max-width: $mq-medium) {
    font-size: 14px;
  }
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-display;
}

a {
  text-decoration: underline;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.dropzone {
  .dz-preview {
    display: none;
  }

  &.dz-started {
    .dz-message {
      display: flex;
    }
  }
}

body[data-theme="dark"] {
  // Status colors
  --color-status-info: #0062ff;
  --color-status-info-light: #d6f5ff;
  --color-status-info-lighter: #f0fbff;
  --color-status-success: #3dd598;
  --color-status-success-light: #d6fff5;
  --color-status-success-lighter: #e6fff9;
  --color-status-warning: #fad105;
  --color-status-warning-light: #fffdb8;
  --color-status-warning-lighter: #fffeeb;
  --color-status-critical: #bd2d00;
  --color-status-critical-light: #ffe2e0;
  --color-status-critical-lighter: #fff5f5;
  --color-status-unknown: #f4f6f8;

  //Gray dark
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-11: #0f0f13;
  --color-dark-10: #1e1e24;
  --color-dark-9: #2c2c35;
  --color-dark-8: #40404a;
  --color-dark-7: #5b5b65;
  --color-dark-6: #70707c;
  --color-dark-5: #8a8a98;
  --color-dark-4: #a9a9b7;
  --color-dark-3: #d0d0da;
  --color-dark-2: #f5f5ff;
  --color-dark-1: #ffffff;

  // Brand
  --color-primary: #4807ea;
  --color-secondary: var(--color-dark-4);

  // Background
  --color-background: var(--color-black);
  --color-background-contrast: var(--color-dark-11);

  // Sidebar
  --color-sidebar-item: var(--color-white);

  // Navbar
  --color-navbar-logo: var(--color-primary);

  // Button
  --color-button-primary: var(--color-primary);
  --color-button-primary-text: var(--color-white);
  --color-button-primary-hover: var(--color-primary);
  --color-button-primary-hover-text: var(--color-white);
  --color-button-secondary: var(--color-dark-8);
  --color-button-secondary-text: var(--color-dark-4);
  --color-button-secondary-hover: var(--color-dark-10);
  --color-button-secondary-hover-text: var(--color-white);

  // Typography
  --color-typography-headline-1: var(--color-white);
  --color-typography-headline-2: var(--color-white);
  --color-typography-headline-3: var(--color-white);
  --color-typography-headline-4: var(--color-white);
  --color-typography-headline-5: var(--color-white);
  --color-typography-headline-6: var(--color-white);
  --color-typography-text: var(--color-white);
  --color-typography-text-bold: var(--color-white);
  --color-typography-subtitle: var(--color-dark-5);
  --color-typography-button-label: var(--color-white);
  --color-typography-mini-button-label: var(--color-white);
  --color-typography-description: var(--color-dark-5);
  --color-typography-mini-description: var(--color-dark-4);
  --color-typography-link: var(--color-status-info);

  // Tab
  --color-tab-navigation-border: var(--color-dark-7);
  --color-tab-item-default: var(--color-dark-7);
  --color-tab-item-active: var(--color-white);

  // Data Visualization colors
  --color-value-increase: #00d3a1;
  --color-value-increase-bright: #00bb8e;
  --color-value-decrease: #ff7c35;
  --color-value-decrease-bright: #e76823;

  // Forms
  --color-input-border: var(--color-dark-10);
}

body[data-theme="light"] {
  // Status colors
  --color-status-info: #0062ff;
  --color-status-info-light: #d6f5ff;
  --color-status-info-lighter: #f0fbff;
  --color-status-success: #3dd598;
  --color-status-success-light: #d6fff5;
  --color-status-success-lighter: #e6fff9;
  --color-status-warning: #fad105;
  --color-status-warning-light: #fffdb8;
  --color-status-warning-lighter: #fffeeb;
  --color-status-critical: #bd2d00;
  --color-status-critical-light: #ffe2e0;
  --color-status-critical-lighter: #fff5f5;
  --color-status-unknown: #f4f6f8;

  //Gray dark
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-11: #0f0f13;
  --color-dark-10: #1e1e24;
  --color-dark-9: #2c2c35;
  --color-dark-8: #40404a;
  --color-dark-7: #5b5b65;
  --color-dark-6: #70707c;
  --color-dark-5: #8a8a98;
  --color-dark-4: #a9a9b7;
  --color-dark-3: #d0d0da;
  --color-dark-2: #f5f5ff;
  --color-dark-1: #ffffff;

  // Brand
  --color-primary: #4807ea;
  --color-secondary: var(--color-dark-4);

  // Background
  --color-background: var(--color-white);
  --color-background-contrast: var(--color-dark-2);

  // Sidebar
  --color-sidebar-item: var(--color-dark-10);

  // Navbar
  --color-navbar-logo: var(--color-primary);

  // Button
  --color-button-primary: var(--color-primary);
  --color-button-primary-text: var(--color-primary);
  --color-button-primary-hover: var(--color-primary);
  --color-button-primary-hover-text: var(--color-white);
  --color-button-secondary: var(--color-dark-8);
  --color-button-secondary-text: var(--color-dark-4);
  --color-button-secondary-hover: var(--color-white);
  --color-button-secondary-hover-text: var(--color-white);

  // Typography
  --color-typography-headline-1: var(--color-dark-10);
  --color-typography-headline-2: var(--color-dark-10);
  --color-typography-headline-3: var(--color-dark-10);
  --color-typography-headline-4: var(--color-dark-10);
  --color-typography-headline-5: var(--color-dark-10);
  --color-typography-headline-6: var(--color-dark-10);
  --color-typography-text: var(--color-dark-10);
  --color-typography-text-bold: var(--color-dark-10);
  --color-typography-subtitle: var(--color-dark-7);
  --color-typography-button-label: var(--color-dark-10);
  --color-typography-mini-button-label: var(--color-dark-10);
  --color-typography-description: var(--color-dark-5);
  --color-typography-mini-description: var(--color-dark-4);
  --color-typography-link: var(--color-status-info);

  // Tab
  --color-tab-navigation-border: var(--color-dark-7);
  --color-tab-item-default: var(--color-dark-7);
  --color-tab-item-active: var(--color-dark-10);

  // Data Visualization colors
  --color-value-increase: #00d3a1;
  --color-value-increase-bright: #00bb8e;
  --color-value-decrease: #ff7c35;
  --color-value-decrease-bright: #e76823;

  // Forms
  --color-input-border: var(--color-dark-10);
}

hr {
  border-color: var(--color-dark-9);
}

code {
  background-color: var(--color-background-contrast);
}

@import "./forms/forms";
