@import "../../../theme/base";

.item {
  color: var(--color-sidebar-item);
  margin-bottom: $space-default;

  &__icon {
    &--wrapper {
      min-height: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      svg {
        width: 18px;
        fill: var(--color-sidebar-item);
      }
    }
  }

  &__text {
    &--wrapper {
      min-height: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include font-properties($typography-text);
    }
  }
}
