@import "../../../theme/base";

.modal-navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-navigation;
  width: 100%;
  background-color: var(--color-background);

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $navbar-height;

    > p {
      margin: 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: $navbar-height;
  }

  &__close-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $navbar-height;
    height: $navbar-height;

    &:hover {
      background-color: var(--color-button-secondary-hover);
      cursor: pointer;
    }

    > svg {
      color: var(--color-button-secondary-text);
    }
  }
}
