@import "src/theme/base";

.locale-selector {
  position: fixed;
  top: $navbar-height * 2;
  right: 0;
  z-index: $z-index-content;
  display: block;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  padding: $space-xs $space-s;
  background-color: var(--color-primary);

  a {
    color: var(--color-white);

    &:hover {
      text-decoration: none;
    }
  }

  @extend .z-depth-1;
}
