@import "src/theme/base";

.business-details {
  padding-bottom: $navbar-height;

  &__box {
    background-color: var(--color-background);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}
