@import "../../theme/base";

.typography {
  position: relative;

  &__inline {
    display: inline-block;
  }

  &__headline1 {
    margin-bottom: $space-s;
    color: var(--color-typography-headline-1);

    @include font-properties($typography-headline-1);
    @include normalizeTypography;
  }

  &__headline2 {
    color: var(--color-typography-headline-2);

    @include font-properties($typography-headline-2);
    @include normalizeTypography;
  }

  &__headline3 {
    margin-bottom: $space-s;
    color: var(--color-typography-headline-3);

    @include font-properties($typography-headline-3);
    @include normalizeTypography;
  }

  &__headline4 {
    margin-bottom: $space-xs;
    color: var(--color-typography-headline-4);

    [class^="icon-"],
    [class*=" icon-"] {
      font-size: $font-size-headline-4 * 0.75;
    }

    @include font-properties($typography-headline-4);
    @include normalizeTypography;
  }

  &__headline5 {
    margin-top: $space-default;
    margin-bottom: $space-xs;
    color: var(--color-typography-headline-5);

    @include font-properties($typography-headline-5);
    @include normalizeTypography;
  }

  &__headline6 {
    margin-top: $space-default;
    margin-bottom: $space-xs;
    color: var(--color-typography-headline-6);

    @include font-properties($typography-headline-6);
    @include normalizeTypography;
  }

  &__text {
    margin-bottom: $space-s;
    color: var(--color-typography-text);

    [class^="icon-"],
    [class*=" icon-"] {
      font-size: $font-size-text * 0.75;
    }

    @include font-properties($typography-text);
    @include normalizeTypography;
  }

  &__text-lead {
    margin-bottom: $space-s;
    color: var(--color-typography-text);

    @include font-properties($typography-text-lead);
    @include normalizeTypography;
  }

  &__text-bold {
    color: var(--color-typography-text-bold);

    @include font-properties($typography-text-bold);
    @include normalizeTypography;
  }

  &__subtitle {
    margin-bottom: $space-xs;
    color: var(--color-typography-subtitle);

    @include font-properties($typography-subtitle);
    @include normalizeTypography;
  }

  &__button-label {
    color: var(--color-typography-button-label);

    @include font-properties($typography-button-label);
    @include normalizeTypography;
  }

  &__mini-button-label {
    color: var(--color-typography-mini-button-label);

    @include font-properties($typography-mini-button-label);
    @include normalizeTypography;
  }

  &__description {
    margin-bottom: $space-xs;
    color: var(--color-typography-description);

    @include font-properties($typography-description);
    @include normalizeTypography;
  }

  &__mini-description {
    color: var(--color-typography-mini-description);

    @include font-properties($typography-mini-description);
    @include normalizeTypography;
  }

  &__link {
    font-size: inherit;
    text-decoration: none;
    color: var(--color-typography-link);

    &:hover {
      text-decoration: underline;
    }

    @include font-properties($typography-link);
    @include normalizeTypography;
  }
}
