@import "../../../../theme/base";

.property {
  position: relative;

  &__main {
    display: flex;
    align-items: stretch;
  }

  &__main-panel {
    &--container {
      flex-basis: 60%;
      padding-bottom: $main-panel-container-space-y;

      @include withNavbar;
    }
  }

  &__details {
    > section {
      margin-bottom: $space-l;
    }
  }

  &__location {
    &--map {
      height: 210px;
      margin: $space-default 0;
      border-radius: $border-radius;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__sidebar {
    flex-basis: 40%;
    flex-grow: 1;
    padding-right: $main-panel-container-space-x;
    padding-left: $main-panel-container-space-x;
    background-color: var(--color-background);

    @include withNavbar;

    > div {
      margin-bottom: $space-l;
    }
  }

  &__media {
    padding: $space-l 0;

    &--single-image {
      img {
        width: 100%;
        height: auto;
        border-radius: $border-radius;
      }
    }
  }

  &__ownership {
    &--card {
      margin-top: $space-default;
      background-color: var(--color-dark-11);
    }
  }
}
