@import "../../../../theme/base";

.property {
  position: relative;

  &__main {
    display: flex;
    align-items: stretch;
  }

  &__main-panel {
    &--container {
      @include withNavbar;
      flex-basis: 60%;
      padding-bottom: $main-panel-container-space-y;
    }
  }

  &__details {
    > section {
      margin-bottom: $space-l;
    }
  }

  &__attachments {
    position: relative;
    margin: $space-default 0;

    &--content {
      min-height: 98px;
    }

    &--card {
      margin-bottom: $space-default;
    }

    &--overlay {
      position: absolute;
      z-index: $z-index-navigation - 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      background-color: rgba($color-black, $opacity-high);

      > div {
        border-top: 1px solid var(--color-background);
        padding: $space-l;
        background-color: rgba($color-black, 1);
      }
    }

    &--overlay-text {
      color: var(--color-white);
    }
  }

  &__location {
    position: relative;

    &--map {
      height: 210px;
      margin: $space-default 0;
      border-radius: $border-radius;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--overlay {
      @extend .property__attachments--overlay;
    }

    &--overlay-text {
      @extend .property__attachments--overlay-text;
    }
  }

  &__sidebar {
    @include withNavbar;
    flex-basis: 40%;
    flex-grow: 1;
    padding-right: $main-panel-container-space-x;
    padding-left: $main-panel-container-space-x;
    background-color: var(--color-background);

    > div {
      margin-bottom: $space-l;
    }

    &--heading {
      margin-top: 0;
    }
  }

  &__media {
    padding: $space-l 0;

    &--single-image {
      img {
        width: 100%;
        height: auto;
        border-radius: $border-radius;
      }
    }
  }

  &__ownership {
    &--card {
      margin-top: $space-default;
      background-color: var(--color-dark-11);
    }
  }

  &__register-interest-modal {
    &--header {
      margin-bottom: 0;
    }
  }
}
