@import "../../../../theme/base";

.properties {
  &__main {
    position: relative;
  }

  &__sidebar {
    @include withNavbar;
  }

  &__main-panel {
    @include withNavbar;

    &--container {
      @include withNavbar;
    }
  }

  &__tab-pane {
    &--container {
      margin-right: -$space-default;
      margin-left: -$space-default;
      padding-top: $space-m;
      padding-bottom: $space-m;
    }
  }

  &__my-properties {
    &--card {
      margin-bottom: $space-default;
    }
  }
}
