@import "../../theme/base";

.home {
  position: relative;
  height: 100vh;
  background-color: var(--color-background);

  @include withSidebar;

  &__sidebar {
    @include withNavbar;
  }

  &__main-panel {
    @include withNavbar;
  }

  &__tab-pane {
    &--container {
      margin-right: -$space-default;
      margin-left: -$space-default;
      padding-top: $space-m;
      padding-bottom: $space-m;
    }
  }

  &__my-properties {
    &--card {
      margin-bottom: $space-default;
    }
  }
}
