@import "../../theme/base";

.home {
  position: relative;

  background-color: var(--color-background);
  height: 100vh;

  @include withSidebar;

  &__sidebar {
    @include withNavbar;
  }

  &__main-panel {
    @include withNavbar;
  }
}
