@import "src/theme/base";

.dropdown {
  position: relative;

  &__menu {
    position: absolute;
    background-color: var(--color-background);
    z-index: $z-index-navigation;

    &--backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $z-index-navigation - 1;
      background-color: transparent;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: $space-s;
    border: 3px solid var(--color-background);

    &:hover {
      cursor: pointer;
      border-left-color: var(--color-primary);
    }
  }
}
