@import "src/theme/base";

.campaigns-grid {
  display: block;

  &__section {
    padding: $navbar-height 0;
  }

  &__intro {
    &--cta {
      margin-top: $space-ml;
    }
  }

  &__section {
    &--intro {
      text-align: center;
    }

    &--favorites {
      min-height: 30vh;
      background-color: var(--color-background);

      h2 {
        font-family: $font-family-display;
      }
    }
  }
}
