@import "../../theme/base";

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-navigation;
  width: 100%;
  background-color: var(--color-background);

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $navbar-height;

    &--color {
      color: var(--color-navbar-logo);
    }

    a {
      @include font-properties($typography-headline-6);
      color: var(--color-typography-text);

      &:hover {
        text-decoration: none;
      }
    }

    svg {
      width: $navbar-logo-width;
    }
  }

  &__center {
    display: flex;
    justify-content: center;

    &--item {
      height: $navbar-height;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: $space-default;

      p {
        color: var(--color-typography-subtitle);
        font-weight: $font-weight-medium;
        margin: 0;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;

    &--item {
      height: $navbar-height;
      display: flex;
      justify-content: center;
      flex-direction: column;

      p {
        font-weight: $font-weight-medium;
        margin: 0;
      }
    }
  }

  &__language-selector {
    display: flex;
    border-radius: $border-radius;
    padding: $space-xs;
    font-size: $font-size-2;
    color: var(--color-button-secondary-text);
    background-color: var(--color-button-secondary);

    a {
      display: flex;
      text-transform: uppercase;
      text-decoration: none;
    }

    &:hover {
      background-color: var(--color-button-secondary-hover);
      cursor: pointer;
    }

    svg {
      width: 14px;
      height: auto;
      margin-right: $space-xs;
      color: var(--color-button-secondary-text);
    }
  }
}
