.button_primary {
  @include font-properties($typography-button-label);
  min-width: 88px;
  border: none;
  border-radius: $border-radius-button;
  padding: 13px 24px;
  text-transform: uppercase;
  color: var(--color-button-primary-text);
  background-color: var(--color-button-primary);
  background-position: center;
  transition: background-color $duration-medium, color $duration-medium;

  &:hover,
  &:focus {
    color: var(--color-button-primary-hover-text);
    background: var(--color-button-primary-hover)
      radial-gradient(circle, transparent 1%, var(--color-button-primary-hover) 1%) center/15000%;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    background-color: var(--color-primary);
    background-size: 100%;
    transition: background 0s;
  }

  &:disabled,
  &[disabled] {
    background: var(--color-dark-1);

    * {
      pointer-events: none;
    }
  }
  // Left for legacy

  &__icon {
    vertical-align: middle;
    margin: {
      left: $space-s;
    }
  }

  &__icon_right {
    vertical-align: middle;
    margin: {
      left: $space-s;
    }
  }

  &__icon_left {
    vertical-align: middle;
    margin: {
      right: $space-s;
    }
  }

  // # Modifiers
  // Size

  &_medium,
  &_large {
    border-radius: $border-radius-pill;
    font-size: $font-size-5;
  }

  &_medium {
    padding: 17px $space-l;
    line-height: 22px;
  }

  &_large {
    padding: 20px $space-l;
    line-height: 1.5;
  }
  // Color

  &_invert {
    color: var(--color-primary);
    background-color: var(--color-white);

    &:hover {
      color: var(--color-primary);
      background: var(--color-primary)-light radial-gradient(circle, transparent 1%, var(--color-primary)-light 1%)
        center/15000%;
    }

    &:active {
      background-color: var(--color-primary)-brighter;
      background-size: 100%;
    }
  }
}
